@model EFCore2017.ViewModels.KorisnikUrediVM



@{
    ViewData["Title"] = "DodajForm";

}

@using EFCore2017.ViewModels;
@using EFCore2017.EntityModels;

<h2>DodajForm</h2>

@*<form action="/Korisnik/Snimi" method="post">*@
<form asp-action="Snimi">

    @*<input type="hidden" value="@Model.KorisnikID" name="KorisnikId" />*@
    @Html.HiddenFor(s=>s.KorisnikID)

    <div class="form-group">
        <label>Naziv</label>
        @*<input type="text" class="form-control" name="KorisnikNazivPolje" placeholder="Naziv" value="@Model.KorisnikNaziv">*@
        @*@Html.TextBoxFor(s => s.KorisnikNaziv)*@
        <input asp-for="KorisnikNaziv" />
    </div>

    <div class="form-group">
        <label>Adresa</label>
        @*<input type="text" class="form-control" name="KorisnikAdresaPolje" placeholder="Adresa" value="@Model.KorisnikAdresa">*@
        @*@Html.TextBoxFor(s => s.KorisnikAdresa)*@
        <input asp-for="KorisnikAdresa" />
    </div>

    @*<div class="form-group">
        <label>Iznos</label>
        <input type="text" class="form-control" name="IznosDobitkaPolje" placeholder="Iznos" value="@Model.Igra.Iznos">
    </div>*@



    <div class="form-group">
        <label>IgraNaziv</label>

        @*@Html.DropDownListFor(s => s.KorisnikID, Model.Igre.ToList())*@

        <select asp-for="IgraNaziv" asp-items="Model.Igre"></select>
        @*<select class="form-control" name="IgraNazivPolje">
            <option>---Odaberite igru---</option>
            @foreach (Igra x in Model.Igre)
            {
                if (x.KorisnikID == Model.KorisnikID)
                {
                    <option value="@x.Id" selected="selected">@x.Naziv</option>
                }
                else
                {
                    <option value="@x.Id">@x.Naziv</option>
                }
            }

        </select>*@

    </div>


    <input class="btn btn-primary" type="submit" name="name" value="Snimi" />

</form>